<div class="presentes">

    <h2>Lista de presentes</h2>
    <p>Escolha um presente para os noivos.</p>

    <div class="lista-presentes">
        <div *ngFor="let presente of presentes" class="presente">


            <img [src]="presente.images[0] || presente.metadata.imagem">
            <p><b>{{presente.name}}</b>
            <p>
            <div class=" valor">
                <p>R${{presente.metadata.moeda}},00</p>
            </div>

            <div class="botao">
                <app-payment [priceId]=presente.default_price></app-payment>
            </div>
        </div>
    </div>
</div>