.presentes {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

    h2 {
        font-family: "Italianno", cursive !important;
        text-align: center;
        font-size: 4em;
    }
}


.lista-presentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    gap: 5%;

    .presente {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        max-width: min-content;
        max-height: max-content;
        padding: 2em;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        font-family: 'Lato', sans-serif;

        img {
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }

        p {
            margin-top: 5%;
        }

        .valor {
            margin-top: 5%;
            font-size: 1.5em;
        }
    }

    .botao {
        max-width: 100%;
    }
}