<section class="w-full flex flex-col gap-4 px-4">
  <h1>Contagem Regressiva</h1>
  
  <div class="grid grid-cols-4">
    <div class="">
      <div class="text-4xl">{{days}}</div>
      <div>Dias</div>
    </div>
    <div>
      <div class="text-4xl">{{hours}}</div>
      <div>Horas</div>
    </div>
    <div>
      <div class="text-4xl">{{minutes}}</div>
      <div>Minutos</div>
    </div>
    <div>
      <div class="text-4xl">{{seconds}}</div>
      <div>Segundos</div>
    </div>
  </div>
</section>