<section class="contagem">
    <h2 class="card-title">Contagem Regressiva</h2>
    <div class="countdown-content">
      <div class="item">
        <div class="number">{{days}}</div>
        <div class="txt">Dias</div>
      </div>
      <div class="item">
        <div class="number">{{hours}}</div>
        <div class="txt">Horas</div>
      </div>
      <div class="item">
        <div class="number">{{minutes}}</div>
        <div class="txt">Minutos</div>
      </div>
      <div class="item">
        <div class="number">{{seconds}}</div>
        <div class="txt">Segundos</div>
      </div>
    </div>
  </section>