<div class="cerimonia">
  <img src="assets/floral.svg">
  <h1>Cerimônia</h1>
  <img src="assets/cerimonia.jpeg" height="600px" alt="Cerimônia" />
  <p>Gostaríamos de contar com a presença de todos vocês no momento em que nossa união será abençoada diante de Deus!
    No dia 15 de Dezembro de 2024, na Casa Tarumã, localizado na Praça Vicente Rodrigues, 47, Butantã - São Paulo.
    Às 15:30 e faremos o possível para sermos extremamente pontais.</p>

  <div class="localizacao">
    <h2>Localização</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.997847830439!2d-46.71031422466969!3d-23.56852077879485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57a98a547c3b%3A0xbcfceb6940af974f!2sCasa%20Tarum%C3%A3!5e0!3m2!1spt-PT!2sbr!4v1708975501244!5m2!1spt-PT!2sbr"
      width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>