<div class="flex flex-col gap-4 pt-4">
  <!-- <img src="assets/floral.svg"> -->

  <div class="flex flex-col gap-4 px-4 md:px-0">
    <h1>Celebração</h1>
    <div class="flex flex-col md:flex-row gap-4 w-full">

      <img class="rounded-md md:w-1/2" src="assets/cerimonia.jpeg" alt="Cerimônia" />

      <!-- <img class="rounded-full w-96 h-auto relative z-20 -translate-x-12" src="assets/festa.png" alt="Cerimônia" /> -->

      <div class="text-pretty flex flex-col gap-5 text-xl">
        <h1 class="text-5xl">Casa Tarumã</h1>
        <hr>
        <p>
          A cerimônia e festa do nosso casamento acontecerão em um único local: a <b>Casa Tarumã.</b> Gostaríamos de
          contar com
          a
          presença de todos vocês no momento em que nossa união será abençoada diante de Deus! Será realizada no dia
          <b>15 de Dezembro de 2024 às 15h00</b>, na Casa Tarumã, localizado na Praça Vicente Rodrigues, 47, Butantã -
          São
          Paulo.
        </p>
      </div>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.997847830439!2d-46.71031422466969!3d-23.56852077879485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57a98a547c3b%3A0xbcfceb6940af974f!2sCasa%20Tarum%C3%A3!5e0!3m2!1spt-PT!2sbr!4v1708975501244!5m2!1spt-PT!2sbr"
      class="min-h-[450px]" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>