.cerimonia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    width: 100%;
}

#imgCerimonia {
    width: 100%;
    border-radius: 10px;
    object-fit: scale-down;
}

h1,
h2 {

    font-family: "Italianno", cursive !important;
    text-align: center;
}



p {
    font-family: "Italianno", cursive !important;
    font-size: 1.2em;
    text-align: justify;
    width: 80%;
}

.localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    width: 80%;
}

iframe {
    width: 100%;

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}